@import "tailwindcss";

/*define variable of color below*/
:root {
    --text-primary-color: #0052a4;
    --header-h: 150px;
}

.text-primary {
    color: var(--text-primary-color);
}

.bg-primary {
    background-color: var(--text-primary-color);
}

.bg-primary-dark {
    background-color: #03488d;
}

.bg-secondary {
    background-color: #013263;
}

.bg-sublink:hover {
    background-color: #03488d;
}

.bg-primary-light {
    background-color: #ffffff;
}

.bg-primary-light:hover {
    background-color: #03488d;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    scroll-margin-top: var(--header-h);
}

@keyframes phone-ring-scale {
    0% {
        transform: rotate(0deg) scale(1);
    }

    10% {
        transform: rotate(-15deg) scale(1.1);
    }

    20% {
        transform: rotate(15deg) scale(1.3);
    }

    30% {
        transform: rotate(-15deg) scale(1.5);
    }

    40% {
        transform: rotate(15deg) scale(1.3);
    }

    50% {
        transform: rotate(0deg) scale(1).1;
    }

    60% {
        transform: rotate(0deg) scale(1);
    }

    100% {
        transform: rotate(0deg) scale(1);
    }
}

.animate-phone-ring {
    animation: phone-ring-scale 1s infinite;
}

/* .sublink:hover .sublink-menu {
    display: block;
} */