@import "tailwindcss";

/*define variable of color below*/
:root {
    --text-primary-color: #0052a4;
}

.text-primary {
    color: var(--text-primary-color);
}

.bg-primary {
    background-color: var(--text-primary-color);
}

.bg-primary-dark {
    background-color: #03488d;
}

.bg-secondary {
    background-color: #013263;
}

.bg-primary-2 {}

.bg-primary-2:hover {
    background-color: #03488d;
}

.bg-primary-light {
    background-color: #ffffff;
}

.bg-primary-light:hover {
    background-color: #03488d;
}